@import 'tailwindcss';

@theme {
  --color-primary: #f4ce14;
  --color-secondary: #495e57;
  --color-mist: #f5f7f8;
  --color-slateblack: #45474b;
}
*:before,
*:after,
* {
  box-sizing: border-box;
}
